// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.home {
    width: 400px;
    min-height: 600px;
    margin: auto;
    border: 1px solid #cacaca;
    background: white;
    border-radius: 3px;

    &__container {
        padding: 15px;
    }

    &__title {
        text-align: center;
        font-size: 16px;

        span {
            font-weight: 700;
        }
    }
}
